#about {
  .about__item {
    border-radius: 5px;
    p {
      line-height: 1.2rem;
    }
    .about__icon-wrapper {
      position: relative;
      top: -40px;
      left: -10px;
      padding: 10px;
      background: #fff;
      display: inline;
      .about__icon {
        background-color: $dark;
        color: $light;
        font-size: 1.8rem;
        padding: 1rem;
        border-radius: 5px;
      }
    }
  }
  .about__skill {
    background: url("../../img/parallax/4.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    h3 {
      letter-spacing: 2px;
    }
    .skill__details {
      height: 50vh;
      .progress {
        background-color: #606060;
        border-radius: 0;
        height: 1.3rem;
        overflow: visible;
        .progress-bar {
          position: relative;
          span {
            display: inline-block;
            position: absolute;
            width: 35px;
            text-align: center;
            top: -30px;
            right: 5px;
            background-color: #a4a4a4;
            color: $dark;
            border-radius: 20px;
            &::before {
              content: "";
              width: 5px;
              height: 5px;
              transform: rotate(45deg);
              position: absolute;
              bottom: -2px;
              left: 15px;
              background-color: #a4a4a4;
            }
          }
        }
      }
    }
  }
  .bg__overlay {
    //   position: relative;
    //   ::before {
    //       content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    //   }
  }
}
